// Styling for the contact section
.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid $gray-200;
  input,
  textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
  }
}
